
.App {
  height: 100vh;  
}

form {
  padding: 50px !important;
  align-items: center !important;
  height: 100%;
}

.login-form-right {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login-image {
  float:left;
  height:100%;
  width: 100%;
  object-fit:cover;
}

.login-image-container {
  height: 100vh;
}

.logo-image-container {
  height: 35vh;
}

.logo-image {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 20px;
}